dist: bionic
language: go

services:
  - docker

go:
  - 1.14.x
  - 1.15.x
  - tip

matrix:
  fast_finish: true
  allow_failures:
    - go: tip

go_import_path: github.com/percona/promconfig

# skip non-trunk PMM-XXXX/SAAS-XXXX branch builds, but still build pull requests
branches:
  except:
    - /^PMM\-\d{3,5}/
    - /^SAAS\-\d{2,5}/

cache:
  directories:
    - /home/travis/.cache/go-build

before_cache:
  - go clean -testcache

script:
  - make ci

notifications:
  slack:
    on_success: change
    on_failure: always
    rooms:
      secure: "Cr/QkB8B7FTYUSywqDBrJJIGg+wDhGwKa8Xz8Pz7ZBYH4ytQTtvmGsk3JfRdRNQR/DGIk6uwYRgAsIsPd0O0nD5KRir0c5a1NeEPne/4Jyr0t6vEllf6hDBF0Ss+7IFQhBcI1IRXcXawiTJZl0JZDxcwaO/aTmBBJ3AhjsxFuprrIyixULQgPFcfv0U4z3Wj1yhktqmuppSQM25nCvXyIu5EhxmJK8uDBkAW8I58qjI9J+D+JNh4J2WcPWgpcGNG/1di418V0sNVANRgzs+1pnlCCUSHdfhrK4bZUk26gjjPf+7ZFF5DQBOUfRYZo77zrhQD8Sby8dLj2NpNgSXkDSTlUeTDwXeRivHonAes+pLeyjoOhVofmjqeqWVCr0Npd7fcifc2riqKZxR5qJYRN1Jv1bzO48eUGDd3SVZgix4RpGr6S8UYjlCsDNMEOp3/e76gmkmztW9469yCJt/Z7LLycB5bqVXoBrdLPNX7N9323SExEOZJ4ckh+w+oYSPS2OP9omRnM2r/BNzFo/dHScv/Jluixsh+ZHKO9/qHTXS7vFRjfgSpjp/HaAi2Boq7Bnd+2Mq9VQt0EJdEBaT9sIsKydrXuXMWE9xenekleWxzUB8VUtz36Jl+rvE5Pyw3fDOpVzNhfhE3H7vwjYu15Xu03rVDrP3M5zc0iHfcxgE="
